/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootswatch/dist/materia/bootstrap.min.css';

i {
    color: #444;
}


.print-container {
    position: absolute;
    top: 0;
    left: 0;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}